body {
  background-color: hsl(27, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}

p {
  margin: 0;
}

.card {
  height: 600px;
  border-radius: 20px;
}

.card-header {
  height: 100px;
  border-radius: 10px;
  background-color: hsl(10, 79%, 65%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.card-body {
  height: 500px;
  border-radius: 10px;
  background-color: white;
}

.header-text {
  margin-top: 20px;
}

#balance {
  font-size: 25px;
  padding-top: 8px;
}

#spending {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 25px;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.monthly-total {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.total-text {
  color: #a9a4a4;
  font-size: 12px;
}

#total {
  font-size: 30px;
  font-weight: 800;
}

#total-change {
  font-weight: 900;
}
